extends layout

block content
    h2 Formulaire : 
    div
        p #{error}
        form(method='POST' action='/users')
            div(class='form-group')
                label(for='firstName') Prénom:
                input(type='text', placeholder='firstName' name='firstName' class='form-control')
            div(class='form-group')
                label(for='lastName') Nom:
                input(type='text', placeholder='lastName' name='lastName' class='form-control') 
            div(class='form-group')
                label(for='age') âge:
                input(type='text', placeholder='age' name='age' class='form-control')
            button(type='submit' class='btn btn-primary') Ajouter

    br
    hr

    h3 Editer les utilisateurs
    div
        ul(class='list-group')
        each user in users
            li(class='list-group-item') 
                div(class='row')
                    div(class='col') #{user.firstName} #{user.lastName}, #{user.age} ans
                    div(class='col col-lg-2')
                        a(href='/users/edit?id='+ user._id)
                            button(type='button', class='btn btn-success pull-right') Editer
                    div(class='col col-lg-2')
                        a(href='/users/delete?id=' + user._id,  class='secondary-content')
                            button(type='button', class='btn btn-danger pull-right') Supprimer